<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Expression</title>

  <script src="bundle.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="myController">
  <span>Expression: </span>
  <input type="text" ng-model="expr" size="80" />
  <button ng-click="add(expr)">Evaluate</button>

  <ul>
    <li ng-repeat="expr in exprs track by $index">
      <a href="" ng-click="delete($index)">delete</a>
      <code>{{expr}}</code> =>
      <span ng-bind="$parent.$eval(expr)"></span>
    </li>
  </ul>
</div>
</body>
</html>